/*Make scrolling smooth */

html{
    scroll-behavior: smooth;
}

/*Get rid of padding & sizing on body so header is at top*/
body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/*Add some padding back to rest of page */

main{
    padding: 2vw;
}

/*Navbar */

.navbar{
    background-color: #333;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding:1rem;
}

/*Logo */

.logo{
    display:flex;
    align-items: center;
}

.logo img{
    height:6vw;
    width:6vw;
}

.logo h1{
    font-size: 1.2 em;
}

/*Navigation list */
nav h1{
    margin-left: 1rem;
}
.navbar-links li{
    list-style: none;
    display:block;
    padding:.5em 0;
}

/*Style all a tags in header and then on hover*/

.navbar-links a{
color: whitesmoke;
background-color: #333;
font-size: 1.5rem;
padding:1rem 1.25rem;
letter-spacing: 2px;
text-decoration: none;
display:inline-block;
}

.navbar-links a:hover,
.navbar-links a:focus{
filter:invert(1);
border-radius: 10px;
outline:none;
}
/*Hamburger Icon*/
*,
*::after,
*::before{
    box-sizing: border-box;
}
:root {
    --bar-width:60px;
    --bar-height:8px;
    --hamburger-gap:6px;
    --foreground: white;
    --background: #333;
    --hamburger-margin: 15px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height:calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.hamburger-menu{
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    position: absolute;
    top: var(--hamburger-margin);
    right: var(--hamburger-margin);
    z-index: 2;
    cursor: pointer;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible{
    border: 1px solid var(--background);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input{
    content: "";
    width:var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing);
}


.hamburger-menu input{
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-menu:has(input:checked)::before{
    rotate:45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height)/ -2);
}

.hamburger-menu:has(input:checked)::after{
    rotate:-45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height)/ 2);
}

.hamburger-menu input:checked{
    opacity: 0;
    width: 0;
}

.sidebar{
    translate: 100%;
    margin-top:0px;
   margin-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1 rem);
    max-width: 100%;
    
}

.hamburger-menu:has(input:checked) + .sidebar{
    translate:0;
}
/*Media query for non-mobile nav bar min-width set to width of nav elements such that no text wraps */
@media screen and (min-width:60rem){

.navbar{
    flex-direction: row;
    justify-content: space-between;
}

.navbar ul{
    display:flex;
}
}