body {
    font-family: Josefin Sans;
    background-color: #7CA4B6;
    color: #F5B574;
    font-size: 20pt;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Lobster;
    font-size: 25pt;
    text-align: center;
}

header {
text-align: center;
}
/* Hero section */
#hero, footer {
    text-align: center;
    background-color:#668796;
    padding: 10px;
    border: 2px black;
}

#hero img {
    width: 275px;
}

/* Bio section */

#bio {
    text-align: center;
}
footer{
    font-size: 12pt;
}

/* Hobbies section */

#hobbies ul li {
    text-align: center;
}
/* Gallery section */

#gallery {
    border: 10px solid #668796;
}
#gallery img {
    max-width: 100%;
}
#gallery figure{
    text-align: center;
}