body {
    font-family: Josefin Sans;
    background-color: #7CA4B6;
    color: #F5B574;
    font-size: 20pt;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Lobster;
    font-size: 25pt;
    text-align: center;
}

header {
text-align: center;
}
/* Hero section */
#hero, footer {
    text-align: center;
    background-color:#668796;
    padding: 10px;
    border: 2px black;
}

#hero img {
    width: 275px;
}

/* Bio section */

#bio {
    text-align: center;
}
footer{
    font-size: 12pt;
}

/* Hobbies section */

#hobbies ul li {
    text-align: center;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    line-height: 2.25rem;
}

/* Gallery section */

#gallery {
    border: 10px solid #668796;
    margin-bottom: 2rem;
    line-height: 2.25rem;
}
#gallery img {
    max-width: 100%;
}
#gallery figure{
    text-align: center;
}

figure{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

figcaption {
    display:flex;
    justify-content:center;
    align-items: center;
    font-size: 2rem;
    margin-left: 1rem;
}

/* Literature */

#lit {
    border: 10px solid #668796;
    margin-bottom: 2rem;
}
#lit div {
    padding: 1rem;
    max-width: 60rem;
    margin: 0 auto;
}
#lit div p {
    padding-bottom: 10px;
    padding-top: 0px;
    clear: both;
}

/* Drop caps */

#lit div p:first-child:first-letter{
    color: #F5B574;
    background-image: radial-gradient(white, #7CA4B6 );
    float: left;
    font-size: 60px;
    padding: .3em;
    padding-right: .6em;
    line-height: .65;
    margin-right: .25em;
    border: 5px outset #668796;
    font-family: Lobster;
    text-shadow: 4px 4px 5px rgba(0,0,0,.5);
    box-shadow: 8px 8px 8px rgba(0,0,0,.5);
    border-top-left-radius: .4em;
    border-bottom-right-radius: .4em;
}

/*Allows CSS to work on tablets*/
@media screen {
    min-width: 60 em; 
}


























